<!DOCTYPE html>
<html lang
 xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Page non trouvée</title>
    <link href="/css/common.css" rel="stylesheet" />
</head>

<body>
    <div class="main-page">
        <div class="container">
            <img src="/img/404.webp" alt="Une dame qui sert la main à son ordinateur."/>
            <p><a href="/home">Retour à l'accueil</a></p>
        </div>
    </div>
</body>

</html>